{% extends '_base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <h1 class="mt-4 mb-3">Feed</h1>

    <div class="row">
      {% for file in files %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            {% if file.get_file_type == 'image' %}
                <img src="{{ file.file.url }}" width="100%" height="300px">
            {% elif file.get_file_type == 'audio' %}
              <div class="card-body">
                <audio controls>
                  <source src="{{ file.file.url }}" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
            {% elif file.get_file_type == 'video' %}
              <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                  <video controls>
                    <source src="{{ file.file.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
              </div>
            {% elif file.get_file_type == 'application' %}
              <div class="card-body">
                <img src="{% static '/pdf_icon.png' %}" width="100%" height="300px">
              </div>
            {% endif %}
            <div class="card-footer">
              <h6 class="card-title text-center"><a href="{% url 'file_detail' file_id=file.pk %}">{{ file.title }}</a></h6>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
  
  {% if files.has_other_pages %}
    <nav aria-label="Access Key pagination">
      <ul class="pagination justify-content-center">
        {% if files.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ files.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
        {% endif %}

        {% for num in files.paginator.page_range %}
          {% if files.number == num %}
            <li class="page-item active">
              <span class="page-link">{{ num }}</span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if files.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ files.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
